<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    <title></title>
</head>
<body>
    <table>

        <volist id="row" name="list">
            <tr >

                <td align="center">{$row.answer}</td>


            </tr>
            <tr ><td>用户名</td></tr>

            <tr><td height="100px"></td></tr>
            <tr >
                <td width="500px">手机号码</td>
                <td align="right">{$row.atime}</td>
            </tr>
        </volist>
    </table>
</body>
</html>