.div{
    width:1200px;
    margin:0px auto;
}
/*µ¼º½*/
.div1{
    height:40px;
    width:1200px;
}
.span1_1{
    font-size:14px;
    color:#999;
    float:left;
    font-family:Microsoft Yahei;
}
.span1_1 a{
    text-decoration:none;
    color:#999;
}
/*µ¼º½2*/
.div2{
    width:1200px;
}
.div2_1,.div3_1{
    width:1200px;
    height:43px;
    border-bottom:1px solid #6ab4ff;
}
.span2_1_1,.span2_1_2,.span2_1_3,.span3_1_1,.span3_1_2,.span3_1_3{
    width:115px;
    height:33px;
    font-size:16px;
    text-align:center;
    padding-top:10px;
}
.span2_1_1,.span2_1_2,.span3_1_1,.span3_1_2{
    float:left;
}
.span2_1_1,.span2_1_3,.span3_1_1{
    background:#6ab4ff;
}
.span2_1_1 a ,.span2_1_3 a,.span3_1_1 a{
    color:white;
    text-decoration:none;
}
.span2_1_2 a,.span3_1_2 a{
    color:#333;
    text-decoration:none;
}
.span2_1_3{
    float:right;
}
.div2_2{
    width:1200px;
    height:125px;
    float:left;
}
.div2_2_1{
    width:1200px;
    height:40px;
    border-bottom: 1px dashed #ddd;
}
.span2_2_1{
    display:block;
    height:40px;
    background:#f6f6f6;
    float:left;
    width:115px;
    text-align:center;
    font-size:14px;
    font-family:Microsoft Yahei;
    line-height:40px;
}
.span2_2_2{
    font-size:14px;
    font-family:Microsoft Yahei;
    float:left;
    color:#6ab4ff;
    margin:10px 30px 0px 38px;

}
.span2_2_3{
    height:40px;
    word-spacing: 30px;
    line-height:40px;
    font-size:14px;
    font-family:Microsoft Yahei;
}
.span2_2_2 a,.span2_2_3 a{
    color:#666;
    text-decoration:none;
    font-family: Microsoft Yahei;
}
.span2_2_2 a{
    text-decoration:none;
    font-family: Microsoft Yahei;
    color:#6ab4ff;
}
.div2_2_1 input{
    text-align:center;
    width:75px;
    height:29px;
    border:1px solid #ddd;
    font-size:14px;
    margin-left:6px;
}
.span2_2_4{
    float:right;
    width:100px;
    height:30px;
    border:1px solid silver;
    margin-top:5px;
    text-align:center;
}
.span2_2_3{
    margin-left:20px;
    width:100px;
    height:50px;
}
.span2_2_4 a{
    text-decoration:none;
    font-family: Microsoft Yahei;
    color:#6ab4ff;
}
/*ËÑË÷*/
.div3{
    width:1200px;
    height:70px;
    float:left;
}
.div3 form{
    float:left;
    margin-top:10px;
    width:555px;
    height:32px;
}
 .input1{
     float:left;
width:430px;
     height:26px;
     border:1px solid #6ab4ff;
     font-size:14px;
     font-family: Microsoft Yahei;
     text-align:left;
 }
 .input2{
     float:left;
     width:92px;
     height:32px;
     background:#6ab4ff;
     font-size:14px;
     font-family: Microsoft Yahei;
     color:white;
     text-align:center;
 }
 .div3_1{
     padding-top:10px;
     float:right;
     width:400px;
     height:32px;
     border:0px;
 }
 .span3_1{
     font-family: Microsoft Yahei;
     margin-left:10px;
     display: inline-block;
     border:1px solid #6ab4ff;
     width:85px;
     height:28px;
     font-size:16px;
     text-align:center;
 }
.span3_1 a{
    text-decoration:none;
    color:#757575;
}
.span3_2{
    font-family: Microsoft Yahei;
    color:#6ab4ff;
}
/*ÄÚÈÝ2*/
.div4{
    width:1200px;
    padding-top:10px;
}
.div4_1 {
    float: left;
    width: 930px;

}
.div4_1_1{
    width:930px;
    height:137px;
    border-bottom:1px dashed #ddd;
}
.div4_1_1_3{
    float:left;
    width:400px;
}
.div4_1_1 img{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    width:152px;
    height:120px;
}
.div4_1_1 h3 a{
    text-decoration:none;
    font-size:16px;
    font-family: Microsoft Yahei;
    color:#333;
}
.div4_1_1 h3{
    margin-left:20px;
}
.div4_1_1_2{
    margin-left:10px;
}
.div4_1_1_2 a{
    text-decoration:none;
    font-family: Microsoft Yahei;
    color:#333;
    font-size:13px;
    margin-right:16px;
}
.div4_1_4{
    padding-left:400px;
    padding-top:30px;
    height:90px;
    width:930px;
}
.div4_1_4 span{
    display:inline-block;
    width:40px;
    height:34px;
    margin-left:10px;
    border:1px solid silver;
}
/*.div4_1_1_1{*/
/*float:left;*/
/*color:#f55353;*/
/*text-align:right;*/
/*font-size:24px;*/
/*line-height:30px;*/
/*}*/

/*ÓÒ²àÄÚÈÝ*/
.div5{
    width:250px;
    float:right;
    background:#f6f6f6;
    margin-top:10px;
    margin-left:19px;
}
.div5_1{
    width:250px;
}
.span5_1,.span5_2{
    margin-left:13px;
    margin-top:13px;
    text-align:center;
    float:left;
    height:35px;
    width:110px;
    font-weight: bold;
    color:#333;
    cursor: pointer;
    font-size:16px;
}
.div5_1_1{
    border-bottom:1px dashed #ddd;
    height:50px;
    width:250px;
}
.div5_1_2{
    border-bottom:1px dashed #ddd;
    height:83px;
    width:250px;
    font-size:14px;
    font-family:Microsoft Yahei;
    color:#333;

}
.div5_1_3{
    border-bottom:1px dashed #ddd;
    height:100px;
    width:250px;
    font-size:14px;
    font-family:Microsoft Yahei;
    color:white;
}
.span5_1_3{
    margin-left:35px;
    display:inline-block;
    width:148px;
    height:46px;
    padding-toP:15px;
    background:#6ab4ff;
    text-align:center;
    margin-top:20px;
}
.div5_2{
    width:250px;
    padding-top:30px;
}
.div5_2_1{
    height:55px;
    width:250px;
    border-bottom:1px dashed #ddd;
}
.div5_2_2{
    height:55px;
    width:250px;
    border-bottom:1px dashed #ddd;
}
/*Î²²¿*/
.div6{
    width:1200px;
    height:317px;
}
.div6 h1{
    width:1200px;
    height:40px;
    float:left;
}
.div6_1{
    width:1200px;
    height:231px;
}
.div6_1_1{
    margin-left:12px;
    float:left;
    width:226px;
    height:231px;
}
.div6_1_1 img{
    height:171px;
    width:226px;
}
.span6_1{
    font-size:15px;
    font-family:Microsoft Yahei;
}
.span6_1 a{
    color:#333;
    text-decoration:none;
}
